@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

select, input[type=text], input[type=datetime-local] {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

button {
  @apply bg-blue-900 text-white font-bold py-2 px-4 rounded;
}

.error {
  @apply text-red-500 font-medium block mt-2 text-sm;

}

.bg-pattern {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23F3F0D5' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}